body {
    background-color: whitesmoke;
    color: black;
    font-size: 18px;
    transition-property: background-color;
}
@keyframes intro {
    0% {font-size: 64px; opacity: 0; position: absolute; transform: translate(-50%, -50%); top: 50%; left: 50%;}
    70% {font-size: 64px; opacity: 0; position: absolute; transform: translate(-50%, -50%); top: 50%; left: 50%;}
    90% {font-size: 42px; opacity: 0; opacity: absolute; transform: translate(-50%, -50%); top: 10px; left: 30px;}
    100% {font-size: 42px; opacity: 1; position: absolute; transform: translate(-50%, -50%); top: 10px; left: 30px;}
}   
.animated {
    color: black;
    font-size: 42px;
    transition-property: background-color;
    margin: auto;
    text-align: center;
    animation-name: intro;
    animation-duration: 4s;
    left: 50%

}

@keyframes introFullOpacity {
    0% {font-size: 256px; opacity: 1;}
    70% {font-size: 256px; opacity: 1;}
    90% {font-size: 42px; opacity: 1;}
    100% {font-size: 42px; opacity: 1;}

}  
.nonanimated {
    color: black;
    font-size: 42px;
    transition-property: background-color;
    margin: auto;
    text-align: center;
    animation-name: introFullOpacity;
    animation-duration: 4s;
}
.first {
    margin: auto;
    text-align: center;
}
@keyframes afterIntro {
    0% {opacity: 0}
    90% {opacity: 0;}
    100% {opacity: 1;}
}

.darkmode {
    background-color: black;
    color: white;
    transition-duration: 2s;
}

.whitemode {
    background-color: whitesmoke;
    color: black;
    font-size: 18px;
    transition-property: background-color;
    transition-duration: 2s;
}

.top {
    margin: auto;
    text-align: center;
    animation-name: afterIntro;
    animation-duration: 4s;
    opacity: 1;
}

.pics {
    animation-name: afterIntro;
    animation-duration: 4400ms;
    opacity: 1;
}

a:link, a:visited {
    background-color: darkgray;
    color: black;
    padding: 10px 10px;
    text-align:center;
    text-decoration: none;
    outline: black solid 2px;
}

a:hover {
    background-color: #404040;
    color: white;
}

.pics {
    margin: auto;
    text-align: center;
    padding: 50px;
}